.header{
    justify-content: space-between;
    border: 1px solid black;
    display: flex;
}
.logo{
    width: 100px;
}
.nav-items > ul{
    display: flex;
    padding: 10px 20px;
    li{
        font-size: 24px;;
        list-style-type: none;
        padding: 10px;
    }
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    a{
        color: black;
        text-decoration: none;
    }
    cursor: pointer;
}
.res-card{
    height: 350px;
    width: 200px;
    padding: 5px;
    margin:5px;
    img.res-card-img{
        width:100%;
    }
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.footer-container{
    min-height: fit-content;
    display: flex;
    border: 1px solid black;
    margin: 5px;
    a{
        padding: 20px 5px;
    }
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 250px;
    padding: 5px;
    margin:5px;
    background-color: lightgray;
}
.filter{
    padding: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    input{
        height: 23px;
    }
    button{
        margin: 5px;
        height: 30px;
    }
    .filter-btn{
        right: 10px;
        position: absolute;
    }
}

.restaurant-menu {
    .restaurant-name{
        color: #282c3f;
        border-bottom: 1px dashed #d3d3d3;
    }
    p{
        color: #7e808c;
    }
    h4 {
        font-style: italic;
        font-weight: 500;
        color: #7e808c;
    }
    .menu-card {
        border-top: 0.5px solid #d3d3d3;
        h2{
            padding: 0px 50%;
        }
        li{
            padding: 8px 0px;
            list-style-type: none;
            border-bottom: 1px dashed #d3d3d3;
            span{
                margin-right: 50px;
                justify-content: flex-end;
                display: flex;
            }
        }
    }
}
.user-card{
    margin: 10px 5px;
    padding: 10px;
    border: 1px solid black;
}
