.header{
    justify-content: space-between;
    border: 1px solid black;
    display: flex;
}
.logo{
    width: 100px;
}
.nav-items > ul{
    display: flex;
    padding: 10px 20px;
    li{
        font-size: 24px;;
        list-style-type: none;
        padding: 10px;
    }
}
.search{
    padding: 10px;
}
.res-container{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    width: 200px;
    padding: 5px;
    margin:5px;
    img.res-card-img{
        width:100%;
    }
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}
.footer-container{
    min-height: fit-content;
    display: flex;
    border: 1px solid black;
    margin: 5px;
    a{
        padding: 20px 5px;
    }
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 200px;
    height: 250px;
    padding: 5px;
    margin:5px;
    background-color: lightgray;
}